<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.core.serverTypes">
      <serverType
            class="com.bridge.rptsvr.ServerDelegate"
            description="Web Report Server Type"
            id="com.bridge.rptsvr.serverType1"
            name="Web Report Server "
            runtime="true"
            runtimeTypeId="com.bridge.rptsvr.runtimeType1">
      </serverType>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.runtimeTypes">
      <runtimeType
            class="com.bridge.rptsvr.RuntimeType"
            description="Report Server"
            id="com.bridge.rptsvr.runtimeType1"
            name="Report Server runtime"
            vendor="Bridge"
            vendorId="com.bridge"
            version="1.0">
         <moduleType
               types="web.reportModule"
               versions="1.0,2.0">
         </moduleType>
      </runtimeType>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.serverLocators">
      <serverLocator
            class="com.bridge.rptsvr.ServerLocator1"
            id="com.bridge.rptsvr.serverLocator1"
            supportsRemoteHosts="com.bridge.rptsvr.serverLocator1"
            typeIds="com.bridge.rptsvr.serverLocator1">
      </serverLocator>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.publishers">
      <publisher
            class="com.bridge.rptsvr.PublisherDelegate:1"
            description="description"
            id="com.bridge.rptsvr.publisher1"
            name="name"
            order="com.bridge.rptsvr.publisher1"
            typeIds="com.bridge.rptsvr.publisher1">
      </publisher>
   </extension>
   <extension
         point="org.eclipse.wst.server.core.moduleTypes">
         <moduleType
            id="web.reportModule"
            name="reportModule"
            description="report Module Type"/>         
   </extension>
   <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="resources/rptsvr.gif"
            id="com.bridge.rptsvr.image1"
            typeIds="com.bridge.rptsvr.image1,com.bridge.reportModule,com.bridge.rptsvr.runtimeType1,com.bridge.rptsvr.serverType1">
      </image>
   </extension>
</plugin>
